@import '../variables';

.welcome{
  width: 100%;
  min-height: 100vh;
  padding: 190px 10% 135px 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  // background-color: $blueBgc;
  background-image: url(../../images/home-wave-edge.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  &__arc{
    position: absolute;
    z-index: 15;
  }
  &__arc.arc--top{
    top: 0;
    right: 30%;
  }
  &__arc.arc--bottom{
    bottom: 0;
    left: 20%;
  }
  &__photoWrapper{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 13% 13%;
  }
  &__picture{
    position: absolute;
  }
  &__picture.picture--first{
    top: 13%;
    left: 13%;
  }
  &__picture.picture--second{
    bottom: 13%;
    right: 13%;
  }
  &__zigzacs{
    @include elementFlex(column, center, center);
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
  }
  &__container{
    @include elementFlex(column, center, flex-start);
    width: 100%;
    height: 100%;
    padding-right: 25%;
  }
  &__wrapper{
    @include elementFlex(row, flex-start, center);
  }
  &__title{
    font-size: 78px;
    font-weight: 800;
  }
  &__discription{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    opacity: 0.8;
    margin: 10px 0 48px 0;
  }
  &__info{
    @include elementFlex(row, flex-start, center);
    margin-left: 25px;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.8;
    &__icon{
      width: 20px;
      height: 20px;
      margin-right: 8px;
      opacity: initial;
    }
  }
}