// Colours from project
$mainBlue: #0B4EE5, 100%;
$secondBlue: #2666F5, 100%;
$ligthGreen: #81F9C0, 100%;

$fontColor: #071C44, 100%;
$inputFontColor: #132B57, 65%;

$lightBgc: #E5E5E5, 100%;
$blueBgc: #F2F4F8, 100%;


// Mixins 
@mixin elementFlex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin selfPosition($justify, $align){
  justify-self: $justify;
  align-self: $align;
}