// Colours from project
$mainBlue: #0B4EE5;
$secondBlue: #2666F5;
$ligthGreen: #81F9C0;

$fontColor: #071C44;
$inputFontColor: #132B5741;

$lightBgc: #fafafa;
$blueBgc: #F2F4F8;


// Mixins 
@mixin elementFlex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin selfPosition($justify, $align){
  justify-self: $justify;
  align-self: $align;
}