@import 'variables';

.company{
  @include elementFlex(column, center, center);
  width: 100%;
  max-width: 259px;
  min-height: 150px;
  background-color: $lightBgc;
  border-radius: 8px;
  justify-self: center;
  &__title{
    color: $mainBlue;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__content{
    font-size: 16px;
    font-size: 600;
    text-align: center;
    padding: 8px 15%;
  }
}

@media(max-width: 1800px){
  .company{
    width: 228px;
    height: 148px;
  }
}

@media(max-width: 1450px){
  .company{
    width: 200px;
    height: 148px;
    &__content{
      padding: 8px 5%;
    }
  }
}

@media(max-width: 1250px){
  .company{
    width: 230px;
    height: 148px;
    &__content{
      padding: 8px 15%;
    }
  }
}