@import 'variables';

.contactForm{
  max-width: 480px;
  @include elementFlex(row, space-between, flex-start);
  flex-wrap: wrap ;
  &__input{
    font-size: 16px;
    font-weight: 600;
    padding: 16px 24px;
    border: 1px solid $inputFontColor;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 480px;
  }
  &__text{
    @extend .contactForm__input;
    height: 180px;
    resize: none;
    margin-bottom: 64px;
  }
  .input--area{
    width: 80px;
    margin-right: 24px;
  }
  .input--phone{
    width: 370px;
  }
}

@media(max-width: 786px){
  .contactForm{
    max-width: initial;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 24px;
    &__input{
      font-size: 14px;
      grid-column: 1 / 3;
      width: 100%;
    }
    .input--area{
      width: 80px;
      margin-right: 24px;
      grid-column: 1;
    }
    .input--phone{
      width: 100%;
      grid-column: 2;
    }
  }
}